/*Garden styles*/
#root {
	display: flex;
	justify-content: center;
	height: 100dvh;
}

.background {
	display: flex;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	z-index: -1;
	opacity: 0.3;
	position: fixed;
	background: url("assets/grass.png") no-repeat center bottom;
}

.app {
	display: flex;
	flex-direction: column;
	width: min(820px, 92vw);
	text-align: center;
	padding: 10px 0 0;
}
.ground {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	height: 100%;
}
.plot {
	background: #654321;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
	position: relative;
	cursor: pointer;
	transform-style: preserve-3d;
	transition: transform 0.15s;
	border: none;
	padding: 0;
}
.plot:hover {
	cursor:
		url("./assets/drop.svg") 12 12,
		auto;
}
.plot:not(:disabled):hover {
	cursor:
		url("./assets/drop.svg") 12 12,
		pointer;
}

/*Flower styles*/
.flower-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 72px;
}
.emoji {
	font-size: 32px;
	text-shadow: 0 4px 8px rgba(0, 0, 0, 0.33);
}
.bloom {
	font-size: 72px;
}
.icon-image {
	width: 48px;
}

/*Water styles*/
.water-bar {
	position: absolute;
	bottom: 8px;
	left: 8px;
	right: 8px;
	height: 6px;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 4px;
	overflow: hidden;
}
.water-bar div {
	height: 100%;
	transition: width 0.2s;
	background-color: #1ca3ec;
}

/*Particle box styles*/
.particles {
	position: absolute;
	inset: 0;
	pointer-events: none;
	display: flex;
	max-width: 100%;
	min-height: 100%;
	border-radius: 8px;
}

/*Button style*/
.button-wrapper {
	display: flex;
	justify-content: space-evenly;
	margin: 18px 0;
}
.button {
	padding: 0.6em 1.2em;
	border: 1px solid var(--green-400);
	border-radius: 8px;
	background: var(--green-900);
	color: var(--green-400);
	font-weight: 600;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
	cursor: pointer;
}

/*Timer styles*/
.cooldown {
	position: absolute;
	inset: 0;
	display: flex;
	gap: 5px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.4);
	color: white;
	font-weight: bold;
	font-size: 1.2rem;
	pointer-events: none;
	border-radius: inherit;
}
.loader {
	width: 60px;
	aspect-ratio: 1;
	color: #000;
	border: 10px solid;
	box-sizing: border-box;
	border-radius: 50%;
	animation: l6 2s infinite linear;
	position: relative;
}
.loader:before {
	content: "";
	position: absolute;
	height: 20px;
	inset: auto calc(50% - 10px) 100%;
	border-radius: 5px 5px 0 0;
	background:
		linear-gradient(to bottom, currentColor 0%, currentColor 30%) top left /
		100% 30% no-repeat,
		linear-gradient(to bottom, currentColor 0%, currentColor 100%) top left /
		50% 100%;
}
.loader:after {
	content: "";
	position: absolute;
	inset: -8px -10px auto;
	height: 15px;
	background:
		radial-gradient(farthest-side, currentColor 94%, #0000) left no-repeat,
		radial-gradient(farthest-side, currentColor 94%, #0000) right no-repeat;
	background-size: 15px 15px;
}
/*CSS animation*/
@keyframes l6 {
	0% {
		background-image: conic-gradient(#77a4bd 0, #0000 0);
	}
	12.5% {
		background-image: conic-gradient(#77a4bd 45deg, #0000 46deg);
	}
	25% {
		background-image: conic-gradient(#77a4bd 90deg, #0000 91deg);
	}
	37.5% {
		background-image: conic-gradient(#77a4bd 135deg, #0000 136deg);
	}
	50% {
		background-image: conic-gradient(#77a4bd 180deg, #0000 181deg);
	}
	62.5% {
		background-image: conic-gradient(#77a4bd 225deg, #0000 226deg);
	}
	75% {
		background-image: conic-gradient(#77a4bd 270deg, #0000 271deg);
	}
	87.5% {
		background-image: conic-gradient(#77a4bd 315deg, #0000 316deg);
	}
	100% {
		background-image: conic-gradient(#77a4bd 360deg, #0000 360deg);
	}
}
