:root {
	--green-900: #193c0d;
	--green-700: #4e763b;
	--green-600: #6d835c;
	--green-500: #729c65;
	--green-400: #788878;

	--bg: #0e1a0a;
	--focus: #9fd09a; /* soft focus ring from lightened greens */

	font-family:
		system-ui,
		-apple-system,
		Segoe UI,
		Roboto,
		Ubuntu,
		Cantarell,
		Noto Sans,
		Helvetica,
		Arial,
		"Apple Color Emoji",
		"Segoe UI Emoji";
	font-weight: 400;
	line-height: 1.6;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
	background: var(--bg);
}

h1,
h2,
h3 {
	line-height: 1.2;
	color: var(--green-400);
	margin: 0;
}

.screen {
	display: flex;
	height: 85dvh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	color: var(--green-400);
	border: none;
}

.text {
	color: var(--green-400);
	margin-bottom: 18px;
}

.image {
	width: 220px;
}
